{% extends 'base.html' %}

{% block title %}Autêntica | Início{% endblock %}

{% block content %}
<div class="landing-container">
    <div class="logo-container" style="height: 80px;">
        <div class="logo" style="height: 100%;">
            <img src="{{ url_for('static', filename='img/logo_index.png') }}" alt="Logo Autêntica" style="height: 100%; width: auto;">
        </div>
    </div>
    
    <div class="auth-buttons">
        <a href="{{ url_for('main.login') }}" class="btn btn-primary">Login</a>
        <a href="{{ url_for('main.register') }}" class="btn btn-secondary">Criar Conta</a>
    </div>
</div>
{% endblock %}
